#home {
    background-color: bisque;
}

#user-dashboard {
    background-color: #9fb8e0;
}

#leaderboards {
    background-color: bisque;
}

#about-us {
    background-color: #9fb8e0;
}


h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
}