*{
    box-sizing: border-box;
}

header {
    position: sticky;
    min-height: 8vh;
    background-color: var(--steel-nav);
    box-shadow: 2px 10px 10px #444;
    z-index: 50;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
 
}

.sticky-top {
    top: 0;
}

.container {
    min-height: 100vh;
}

body {
    width: 680px;
    margin: 0px auto;
    background-color:gray;
}

footer {
    height: 20vh;
    outline: dotted;
    background-color: orange;
}


