* {
    box-sizing: border-box;
}

header {
    color: var(--marigold-button);
    position: sticky;
    background-color: var(--steel-nav);
    z-index: 99;
    box-shadow: 0px 3px 2px #443;
    top: 0;
    padding: 10px;
    max-height: 15vh;
}

nav {
    position: absolute;
    right: 0;
    top: 0;
    padding: .4em;
    color: var(--marigold-button);
    text-align: right;
}

nav ul {
    display: none;
    clear: both;
    background: var(--steel-nav);
    padding: .5em;
}

nav:hover ul {
    display: block;
}

nav li {
    color: white;
    padding: 1em;
}

nav li:active {
    color: var(--marigold-button);
}

.activeHighline {
    background-color: var(--marigold-button);
}

.container {
    min-height: 80vh;
}

body {
    width: 100%;
    margin: 0px auto;
    background-color: var(--denim);
}

/* footer  */

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    min-height: 12vh;
    background-color: var(--steel-nav);
    box-shadow: 10px -5px 10px #443;
}

footer #tmdb-logo {
    margin: auto;
}

footer #copy-right {
    margin: auto;
}

footer #contact-us {
    margin: auto;
}

#gh-logo {
    display: inline-block;
    background-image: url("../src/gh.png");
    background-size: cover;
    width: 40px;
    height: 40px;
}

#cf-logo {
    display: inline-block;
    background-image: url("../src/cflogo.png");
    background-size: cover;
    width: 40px;
    height: 40px;
}

#gh-logo:hover, #cf-logo:hover {
    transition-duration: 200ms;
    transform:scale(1.2);
}

/* //////media query for hamburger menu////// */

@media only screen and (min-width: 600px) {
    body {
        min-width: 80vw;
    }

    #home {
        background-image: url('../src/theater-bg-2.jpg');
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover; 
    }

    #menu-icon {
        display: none;
    }
    nav {
        text-align: none;
    }
    nav ul {
        display: block;
        background: none;
    }
    nav li {
        display: inline-block;
        font-size: 1em;
        margin-right: 1em;
    }
    nav li:active {
        background-color: var(--marigold-button);
    }
    nav li:active {
        background-color: var(--marigold-button);
    }
}