/* for search page and relate */

.slick-slide {
    outline: none;
}

#fetch {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--steel-nav);
    max-width: 30vw;
}

#term {
    /* color: var(--marigold-button); */
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

#search {
    height: 3rem;
    font-family: 'Roboto Slab', serif;
}

.movie-preview {
    /* position: relative; */
    margin: 20px auto;
    padding: 1em;
}

.movie-preview p {
    /* position: absolute; */
    text-align: center;
    font-weight: bold;
    /* outline: dotted; */
}

.movie-preview:hover {
    transform: scale(1.1);
}

.movie-preview img {
    min-width: 200px;
    width: 15vw;
    margin: 0px auto;
}

.movie-preview img:hover {
    outline: groove var(--marigold-button);
    opacity: 0.7;
}

/* for about us page  */

.profile-img {
    background-image: url("http://via.placeholder.com/100x100");
    width: 100px;
    height: 100px;
    border: 3px solid black;
}

.movie-poster {
    background-image: url("http://via.placeholder.com/125x200");
    /* background-image: url("https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SY1000_CR0,0,674,1000_AL_.jpg"); */
    background-size: cover;
    min-width: 125px;
    height: 200px;
    transition-duration: 500ms;
}

.team-info-movies ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    text-align: center;
}

.movie-poster:hover {
    transform: rotate(0);
    transform: scale(1.5);
}

#main-login {
    text-align: center;
    outline: 2px solid white;
    background-color: var(--steel-nav);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
}

#main-login h1 {
    color: var(--marigold-button);
}

#main-login h2 {
    margin-top: .5em;
}

.login-form {
    padding: 1em;
}

.form-group {
    margin-top: .5em;
}

.login-form button {
    padding: 1em;
    /* background-color: var(--screen-panel); */
    font-size: .75em;
}

/* for popup movie detail */

#movie-detail-popup {
    position: absolute;
    display: grid;
    grid-template-areas: "poster info" "poster button";
    width: 70vw;
    height: auto;
    margin: 0px 5% auto;
    padding: 1em;
    opacity: 1;
    background-color: var( --steel-nav);
    box-shadow: 10px 10px 10px #443;
    z-index: 5;
}

#movie-detail-poster {
    grid-area: poster;
    margin: 0px auto;
    width: 30vw;
}

#poster-path {
    width: 100%;
}

#movie-detail-info {
    grid-area: info;
    padding: 1em;
    width: 30vw;
}

#stupid-button {
    grid-area: button;
    margin: 0px auto;
}

button {
    font-family: 'Roboto Slab', serif;
    display: inline-block;
    border: none;
    padding: 1rem 1rem;
    margin: 0;
    text-decoration: none;
    color: white;
    background-color: var(--marigold-button);
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}

button:hover {
    transition-duration: 300ms;
    transform: scale(1.1);
    /* opacity: 0.9; */
    box-shadow: 5px 7px 5px #554;
}

#close-detail {
    position: absolute;
    top: 0;
    right: 0;
}

/* //testing */

.testing p {
    background-image: url("http://via.placeholder.com/200x200");
    width: 150px;
    height: 200px;
    background-size: cover;
}

/* media query */


@media only screen and (max-width: 800px) {
    .movie-preview img {
        min-width: 220px;
        margin: 0px auto;
    }
    #movie-detail-popup {
        position: absolute;
        display: grid;
        grid-template-areas: "poster" "info" "button";
        width: 70vw;
    }
    #movie-detail-poster {
        grid-area: poster;
        margin: 0px auto;
        width: 60vw;
    }
    #poster-path {
        width: 100%;
    }
    #movie-detail-info {
        grid-area: info;
        padding: 1em;
        width: 60vw;
    }
    #stupid-button {
        grid-area: button;
        margin: 0px auto;
    }
}

@media only screen and (max-width: 480px) {
    .team-info-movies ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .movie-preview img {
        min-width: 300px;
        margin: 0px auto;
    }
    #movie-detail-popup {
        display: grid;
        grid-template-areas: "poster" "info" "button";
        width: 90vw;
    }
    #movie-detail-poster {
        grid-area: poster;
        margin: 0px auto;
        width: 80vw;
    }
    #poster-path {
        width: 100%;
    }
    #movie-detail-info {
        grid-area: info;
        padding: 1em;
        width: 80vw;
    }
    #stupid-button {
        grid-area: button;
        margin: 0px auto;
    }
}
/*  */