/* for search page and relate */

.slick-slide {
    outline: none;
}

.slider {
    display: none;
}

.slider.slick-initialized {
    display: block;
}

/* slick setting */

#fetch {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--steel-nav);
    max-width: 30vw;
    margin: auto;
}

#term {
    /* color: var(--marigold-button); */
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

#search {
    height: 3rem;
    font-family: 'Roboto Slab', serif;
}

.search h2 {
    margin: 0px auto;
    text-align: center;
}

.movie-preview {
    /* position: relative; */
    margin: 20px auto;
    padding: 1em;
}

.movie-preview p {
    /* position: absolute; */
    text-align: center;
    font-weight: bold;
    /* outline: dotted; */
}

.movie-preview:hover {
    transform: scale(1.1);
}

.movie-preview img {
    min-width: 200px;
    width: 15vw;
    margin: 0px auto;
}

.movie-preview img:hover {
    outline: groove var(--marigold-button);
    opacity: 0.7;
}

/* for about us page  */

#amanda {
    background-image: url("../src/amanda.jpg");
}

#brandon {
    background-image: url("../src/summitshot.jpg");
}

#chi {
    background-image: url("../src/chi.png");
}

#paul {
    background-image: url("../src/paul.png");
}

.team-info {
    display: grid;
    grid-template-areas: "img h2 h2 h2 " "img p p p" "info info info info";
    grid-gap: 1em;
}

.profile-img {
    grid-area: img;
    justify-self: end;
    /* background-image: url("http://via.placeholder.com/100x100"); */
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 20%;
    border: solid 2px var(--marigold-button);
    box-shadow: 5px 5px 3px #442;
}

.team-info h2 {
    grid-area: h2;
    background-color: var(--marigold-button);
    width: 60vw;
}

.team-info p {
    grid-area: p;
    max-width: 900px;
    width: 60vw;
    font-size: 1.2em;
    font-weight: bold;
}

.fav-movies {
    min-width: 200px;
    height: 300px;
    background-size: cover;
}

.team-info-movies {
    grid-area: info;
    margin: auto;
    max-width: 60vw;
}

.team-info-movies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#one {
    background-image: url("http://image.tmdb.org/t/p/w200//xNWs9LM46vJWwf1q0VGPOccTKg4.jpg");
}

#two {
    background-image: url("http://image.tmdb.org/t/p/w200//xq1Ugd62d23K2knRUx6xxuALTZB.jpg");
}

#three {
    background-image: url("http://image.tmdb.org/t/p/w200//b9QJr2oblOu1grgOMUZF1xkUJdh.jpg");
}

#four {
    background-image: url("http://image.tmdb.org/t/p/w200//gpxjoE0yvRwIhFEJgNArtKtaN7S.jpg");
}

#five {
    background-image: url("http://image.tmdb.org/t/p/w200//on9JlbGEccLsYkjeEph2Whm1DIp.jpg  ");
}

#six {
    background-image: url("http://image.tmdb.org/t/p/w200//nORMXEkYEbzkU5WkMWMgRDJwjSZ.jpg");
}

#seven {
    background-image: url("http://image.tmdb.org/t/p/w200//5ig0kdWz5kxR4PHjyCgyI5khCzd.jpg");
}

#eight {
    background-image: url("http://image.tmdb.org/t/p/w200//tpoVEYvm6qcXueZrQYJNRLXL88s.jpg");
}

#nine {
    background-image: url("http://image.tmdb.org/t/p/w200//9SKDSFbaM6LuGqG1aPWN3wYGEyD.jpg");
}

#ten {
    background-image: url("http://image.tmdb.org/t/p/w200//c414cDeQ9b6qLPLeKmiJuLDUREJ.jpg");
}

#eleven {
    background-image: url("http://image.tmdb.org/t/p/w200//wss1PkvHD2cYH6lu5mSa2MgGoi.jpg");
}

#twelve {
    background-image: url("http://image.tmdb.org/t/p/w200//yE5d3BUhE8hCnkMUJOo1QDoOGNz.jpg");
}

#thirteen {
    background-image: url(" http://image.tmdb.org/t/p/w200//lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg");
}

#fourteen {
    background-image: url("http://image.tmdb.org/t/p/w200//tkt9xR1kNX5R9rCebASKck44si2.jpg");
}

#fifteen {
    background-image: url("http://image.tmdb.org/t/p/w200//gGBu0hKw9BGddG8RkRAMX7B6NDB.jpg");
}

#sixteen {
    background-image: url("http://image.tmdb.org/t/p/w200//hEpWvX6Bp79eLxY1kX5ZZJcme5U.jpg");
}

#seventeen {
    background-image: url("http://image.tmdb.org/t/p/w200//EelZzudHRvJmjWccWscN1S5vmI.jpg");
}

#eighteen {
    background-image: url("http://image.tmdb.org/t/p/w200//6WBIzCgmDCYrqh64yDREGeDk9d3.jpg");
}

#nineteen {
    background-image: url("http://image.tmdb.org/t/p/w200//tgXOraQmKatqrVs2KMgnNn6QpO.jpg");
}

#twenty {
    background-image: url("http://image.tmdb.org/t/p/w200//w6LisixORl4NbEl4BaEykdkVloE.jpg");
}

/* for about us page end here */

#welcome-message {
    padding: 1em;
}

#welcome-message p {
    margin-top: 1.5em;
}

#welcome-message button {
    margin-top: 1.5em;
}

#main-login {
    text-align: center;
    outline: 2px solid white;
    background-color: var(--steel-nav);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
}

#main-login h1 {
    color: var(--marigold-button);
}

#main-login h2 {
    margin-top: .5em;
}

.login-form {
    padding: 1em;
}

.form-group {
    margin-top: .5em;
}

.login-form button {
    padding: 1em;
    /* background-color: var(--screen-panel); */
    font-size: .75em;
}

/* for popup movie detail */

#movie-detail-popup {
    position: absolute;
    display: grid;
    grid-template-areas: "poster info" "poster button";
    width: 70vw;
    height: auto;
    margin: 0px 5% auto;
    padding: 1em;
    opacity: 1;
    background-color: var( --steel-nav);
    box-shadow: 10px 10px 10px #443;
    z-index: 5;
}

#movie-detail-poster {
    grid-area: poster;
    margin: 0px auto;
    width: 30vw;
}

#poster_path {
    width: 100%;
}

#movie-detail-info {
    grid-area: info;
    padding: 1em;
    width: 30vw;
}

#stupid-button {
    grid-area: button;
    margin: 0px auto;
}

button {
    font-family: 'Roboto Slab', serif;
    display: inline-block;
    border: none;
    padding: 1rem 1rem;
    margin: 0;
    text-decoration: none;
    color: white;
    background-color: var(--marigold-button);
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}

button:hover {
    transition-duration: 300ms;
    transform: scale(1.1);
    /* opacity: 0.9; */
    box-shadow: 5px 7px 5px #554;
}

#close-detail {
    position: absolute;
    top: 0;
    right: 0;
}

/* user-popup */

#user-popup {
    position: absolute;
    display: grid;
    grid-template-areas: "poster info" "poster button";
    width: 70vw;
    height: 70vh;
    margin: -10px 5% auto;
    padding: 1em;
    opacity: 1;
    background-color: var( --steel-nav);
    box-shadow: 10px 10px 10px #443;
    z-index: 6;
}

/* //testing */

.testing p {
    background-image: url("http://via.placeholder.com/200x200");
    width: 150px;
    height: 200px;
    background-size: cover;
}

/* media query */

@media only screen and (max-width: 800px) {
    .movie-preview img {
        min-width: 220px;
        margin: 0px auto;
    }
    #movie-detail-popup {
        position: absolute;
        display: grid;
        grid-template-areas: "poster" "info" "button";
        width: 70vw;
    }
    #movie-detail-poster {
        grid-area: poster;
        margin: 0px auto;
        width: 60vw;
    }
    #poster_path {
        width: 100%;
    }
    #movie-detail-info {
        grid-area: info;
        padding: 1em;
        width: 60vw;
    }
    #stupid-button {
        grid-area: button;
        margin: 0px auto;
    }
}

@media only screen and (max-width: 480px) {
    .team-info-movies ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .movie-preview img {
        min-width: 300px;
        margin: 0px auto;
    }
    #movie-detail-popup {
        position: sticky;
        display: grid;
        grid-template-areas: "poster" "info" "button";
        width: 90vw;
        top: 10vh;
    }
    #movie-detail-poster {
        grid-area: poster;
        margin: 0px auto;
        width: 80vw;
    }
    #poster_path {
        width: 100%;
    }
    #movie-detail-info {
        grid-area: info;
        padding: 1em;
        width: 80vw;
    }
    #stupid-button {
        grid-area: button;
        margin: 0px auto;
    }
}